.header-login{
    margin: 20px;
    float: right;
}
.header-title{
    display: inline-block;
}



.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  
  .navbar .navbar-collapse {
    text-align: center;
  }